@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');
/*imported roboto just to check I could, but didn't think it looked as nice*/

body{
    display:flex;
    flex-direction: column;
    padding: 0px;
    margin: 0px;
    
}

.logo{
    height: 50px;
    margin: 0.5em;

}

.upper{
  background-color: #1F2937;  
  color: #F9FAF8;
  display: flex;
  flex-direction: column;
}

.header{
    display:flex;
    align-items: center;
    justify-content: space-between;
}

a{
    color: #F9FAF8; 
    text-decoration: none;
    margin: 0.5em;
    font-weight: 700;
}

.overview{
    display: flex;
    justify-content: center;
    gap: 25em;
    margin: 0.5em;
}
.signup-button{
     background-color: #3882f6;
     color: #F9FAF8;
     width: 10em;
     align-self: center;
     border-radius: 2em;
     padding: 1em;
     font-weight: 700;
     margin-top: 3em;
 }
 .overviewtext{
     display: flex;
     flex-direction: column;
     align-items: flex-start;
     width: 20em;
     margin-bottom: 5em;
    }


 .upperimg{
     width: auto;
     max-height: 300px;
    margin: 2em;
    border-radius: 5em;
 }

 .stage-section{
     display: flex;
     flex-direction: column;
     align-items: center;
 }

 h2{
    font-weight: 1000;
    font-size: 36px;
    color:#1F2937;
    
 }

 .stage-container{
     display: flex;
    justify-content: center;
    gap:5em;
    align-items: center;
    text-align: center;
 }

 .stage>img{
     max-height: 100px;
     border: #3882f6;
     border-style: solid;
     border-radius:20px;
     min-width: 100px;
 }
 .stage>p{
     color:#1f2937;
     max-width: 150px;
     height: 150px;
     font-size: 17px;
 }

 .quote-section{
    background-color: #e5e7eb;
    display:flex;
    justify-content:center;
    align-items: center;
    padding: 2em;



 }
 .quote{
     font-size: 26px;
     color:#1f2937;
     font-style:italic;
     width:500px;
  
 }
 .quote-attrib{
    align-self: flex-end;
    font-weight: 800;
    font-size: 30px;
    color:#1f2937;
    font-style:italic;
 }
.donation-section{
    display: flex;
    justify-content: center;
}
 .donation-container{
     background-color: #3882f6;
     margin: 2em;
     border-radius:0.5em;
     display:flex;
     color:#F9FAF8;
     justify-content:space-evenly;
     align-items: center;
     padding: 1em;
 }
 .donation-text{
     text-align:left;
     width: 30em;
     margin-left: 20px;
 }

 .donation-text>p{
     width:25em
 }

 .donation-button{
        background-color: #3882f6;
        color: #F9FAF8;
        border-radius: 2em;
        width: 10em;
     align-self: center;
     border-radius: 2em;
     padding: 1em;
     font-weight: 700;
     border-color: #F9FAF8;
     margin-left: 2em;
    }
.footer{
    display: flex;
    background-color: #1F2937;
    color:#F9FAF8;
    padding: 1em;
    justify-content: center;
}